footer.ct-footer.mt-4
    div.container.pt-5
        div.row
            div.col-6.footer-text 
                h4 Navigation
                div.pt-3.pl-2
                    div 
                        | HEllo
                    div 
                        | HEllo
                    div 
                        | HEllo
                    div 
                        | HEllo

            div.col-6.text-white.footer-text
                h4 Contact
                ul
                    li
                        | Hello
                    li
                        | Hello
                    li
                        | Hello
                    li
                        | Hello
                    