footer.ct-footer.mt-4
    div.container.pt-5
        div.row
            div.col-6.text-white.footer-text
                h4 Navigation
                ul.pt-3.pl-2
                    li
                        a.footer-link(href="/") Home
                    li
                        a.footer-link(href="/") About Us
                    li
                        a.footer-link(href="/") Partners
                    li
                        a.footer-link(href="/") Contact
                    
            div.col-6.text-white.footer-text
                h4 Contact
                ul.pt-3.pl-2
                    li
                        | Hello
                    li
                        | Hello
                    li
                        | Hello
                    li
                        | Hello
                    