footer.ct-footer.mt-4
    div.container.pt-5
        div.row
            div.col-4.text-white
                h5 Navigasyon
                ul.pt-3.pl-2
                    li
                        a.footer-link(href="/") Ana Sayfa
                    li
                        a.footer-link(href="/about") Hakkımızda
                    li
                        a.footer-link(href="/partners") İş Ortakları
                    li
                        a.footer-link(href="/contact") İletişim
                    li
                        a.footer-link(href="/login") Üye Girişi
            div.col-4.text-white
                h5 Bilgi
                ul.pt-3.pl-2
                    li
                        a.footer-link(href="/about") Hakkımıza
                    li
                        a.footer-link(href="/") Blog
                    li
                        a.footer-link(href="/") S.S.S     
            div.col-4.text-white
                h5 İletişim
                ul.pt-3.pl-2
                    li
                        a.footer-link(href="/contact") İletişim Formu
                    li
                        a.footer-link(href="https://facebook.com") Facebook
                    li
                        a.footer-link(href="https://twitter.com") Twitter
                    li
                        a.footer-link(href="https://instagram.com") Instagram
                    