div.container-fluid.p-0()
    nav(class="navbar navbar-expand-lg ct-dark shadow")
        a(class="navbar-brand" href="#")
            img(src="/images/navbarLogo.png" class="ml-4 hvr-pulse-shrink" width=160 height=64 alt="")
        ul(class="navbar-nav ml-auto flex-nowrap-1")
            li.nav-item
                a(class="nav-link hvr-underline-reveal active" href="./") Home
            li.nav-item
                a(class="nav-link hvr-underline-reveal" href="./about") About Us
            li.nav-item
                a(class="nav-link hvr-underline-reveal" href="#") References
            li.nav-item
                a(class="nav-link hvr-underline-reveal" href="#") Contact
            li.nav-item
        div.ml-2.mr-4.gradient-fade(style="height:100px;width:1px;")
        div.d-flex.flex-column
        if(!user)
            a(href="/login" class="btn btn-lg btn-outline-dark")
                span.fas.fa-user()
                div(style="font-size:14px;") Account
        else
            a(href="/account" class="btn btn-lg btn-outline-dark")
                span.fas.fa-user()
                div(style="font-size:14px;") Hello, #{user.username}