.form-group
    label(for='userRegisterForm_name') Full Name
    input#userRegisterForm_name.form-control(type='Name' placeholder='Enter your full name')
.form-group
    label(for='userRegisterForm_email') Email address
    input#userRegisterForm_email.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email')
    small#emailHelp.form-text.text-muted We will never share your email with anyone else.
.form-group
    label(for='userRegisterForm_password') Password
    input#userRegisterForm_password.form-control(type='password' placeholder='Password')