body {
  padding: 0 0 0 0;
}

footer {
    min-height: 300px;
}

nav > a.active {
    color: white;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.ct-navbar {
    background-color: #605856;
}

.ct-dark {
      background-color: #ebe9e0;
}
.ct-base {
      background-color: #CECFC7;
}
.ct-darkest {
      background-color: #B7AE92;
}

.ct-footer {
    background-color: #348AA7;
}

.ct-intro {
    background-color: #c8c8f7;
}

ul > li > a {
    line-height: 53px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Slabo 27px', serif;
    color: #504F66;
}

ul {
  list-style-type: none;
}

nav > ul > li > a  {
    color: #A5907E;
}

nav > ul > li > a.active  {
    color: #F7DAD9;
}

.gradient-fade {
background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.44) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,0.43) 100%, rgba(255,255,255,0.2) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.44) 0%,rgba(0,0,0,1) 50%,rgba(255,255,255,0.43) 100%,rgba(255,255,255,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.44) 0%,rgba(0,0,0,0.4) 50%,rgba(255,255,255,0.43) 100%,rgba(255,255,255,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#33ffffff',GradientType=0 ); /* IE6-9 */
}

.font-raleway {
    font-family: 'Raleway', sans-serif; font-size:16px;
}

.font-fredoka {
    font-family: 'Fredoka One', cursive;
}

.font-unica {
    font-family: 'Unica One', cursive;
}

.font-karla {
    font-family: 'Karla', sans-serif;
}

.submit-btn {
    background-color: #008575;
    font-size: 1em;
    letter-spacing: 0.15em;
    font-weight: 700;
}

.submit-text {
    color: #008575;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-weight: 600;
}

.footer-text {
    color: #6DB5CD;
}

/* Index */

.carousel-inner > .item {
    height: 800px;
}