body {
  padding: 0 0 0 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
    min-height: 300px;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

h1 {
    font-family: 'Fredoka One', cursive;
}



.ct-1 {
      background-color: #FFFCF3;
}
.ct-2 {
      background-color: #504F66;
}
.ct-3 {
      background-color: #fff9e6;
}
.ct-4 {
      background-color: #262A2F;
}

ul > li > a {
    line-height: 53px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Slabo 27px', serif;
    color: #504F66;
}

ul > li > a.active  {
    color: #829DD1;
}
