.form-group
    label(for='companyRegisterForm_name') Company Name
    input#companyRegisterForm_name.form-control(type='username' placeholder='Enter your company name')
.form-group
    label(for='companyRegisterForm_password') Password
    input#companyRegisterForm_password.form-control(type='password' placeholder='Password')
.form-group.form-check
    input#exampleCheck1.form-check-input(type='checkbox')
    label.form-check-label(for='exampleCheck1') Check me out
    input(type="submit", value="Submit")