.form-group
    label(for='companyLoginForm_name') Company Name
    input#companyLoginForm_name.form-control(type='Name' placeholder='Enter your company name')
.form-group
    label(for='companyLoginForm_email') Email address
    input#companyLoginForm_email.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email')
.form-group
    label(for='companyLoginForm_password') Password
    input#companyLoginForm_password.form-control(type='password' placeholder='Password')